/*
 * in3etween.show-whitespace-ja whitespace colors template.
 * 空白カラーテンプレート
 */

/* Light theme */
.CodeMirror .cm-dk-whitespace-space:before,
.CodeMirror .cm-dk-whitespace-tab:before { background-color: <%= light.whitespace %>; }
.CodeMirror .cm-dk-whitespace-leading-space:before,
.CodeMirror .cm-dk-whitespace-leading-tab:before { background-color: <%= light.leading %>; }
.CodeMirror .cm-dk-whitespace-empty-line-space:before,
.CodeMirror .cm-dk-whitespace-empty-line-tab:before { background-color: <%= light.empty %>; }
.CodeMirror .cm-dk-whitespace-trailing-space:before,
.CodeMirror .cm-dk-whitespace-trailing-tab:before { background-color: <%= light.trailing %>; }

/* Light theme全角スペース */
.CodeMirror .cm-dk-whitespace-zenkaku:before { border: solid 1px <%= light.whitespace %>; }
.CodeMirror .cm-dk-whitespace-leading-zenkaku:before { border: solid 1px <%= light.leading %>; }
.CodeMirror .cm-dk-whitespace-empty-line-zenkaku:before { border: solid 1px <%= light.empty %>; }
.CodeMirror .cm-dk-whitespace-trailing-zenkaku:before { border: solid 1px <%= light.trailing %>; }

/* Dark theme */
.dark .CodeMirror .cm-dk-whitespace-space:before,
.dark .CodeMirror .cm-dk-whitespace-tab:before { background-color: <%= dark.whitespace %>; }
.dark .CodeMirror .cm-dk-whitespace-leading-space:before,
.dark .CodeMirror .cm-dk-whitespace-leading-tab:before { background-color: <%= dark.leading %>; }
.dark .CodeMirror .cm-dk-whitespace-empty-line-space:before,
.dark .CodeMirror .cm-dk-whitespace-empty-line-tab:before { background-color: <%= dark.empty %>; }
.dark .CodeMirror .cm-dk-whitespace-trailing-space:before,
.dark .CodeMirror .cm-dk-whitespace-trailing-tab:before { background-color: <%= dark.trailing %>; }

/* Dark theme全角スペース */
.dark .CodeMirror .cm-dk-whitespace-zenkaku:before { border: solid 1px <%= dark.whitespace %>; }
.dark .CodeMirror .cm-dk-whitespace-leading-zenkaku:before { border: solid 1px <%= dark.leading %>; }
.dark .CodeMirror .cm-dk-whitespace-empty-line-zenkaku:before { border: solid 1px <%= dark.empty %>; }
.dark .CodeMirror .cm-dk-whitespace-trailing-zenkaku:before { border: solid 1px <%= dark.trailing %>; }